DB_USER=${DB_USER_VAR}
DB_PASSWORD=${DB_PASSWORD_VAR}
DB_HOST=${DB_HOST_VAR}
DB_PORT=${DB_PORT_VAR}
DB_NAME=${DB_NAME_VAR}
BOT_TOKEN=${BOT_TOKEN_VAR}
GROUP_ID=${GROUP_ID_VAR}
DELAY_MINUTES_CONFIRM_SPOT=${DELAY_MINUTES_CONFIRM_SPOT_VAR}
DB_SCHEMA=${DB_SCHEMA_VAR}
TECH_GROUP_ID=${TECH_GROUP_ID_VAR}
WARN_TOPIC_ID=${WARN_TOPIC_ID_VAR}
ERROR_TOPIC_ID=${ERROR_TOPIC_ID_VAR}
INFO_TOPIC_ID=${INFO_TOPIC_ID_VAR}
DEBUG_TOPIC_ID=${DEBUG_TOPIC_ID_VAR}
STATS_TOPIC_ID=${STATS_TOPIC_ID_VAR}
FEEDBACK_TOPIC_ID=${FEEDBACK_TOPIC_ID_VAR}
STAND=${STAND_VAR}
