stages:
  - test
  - build
  - deploy_ift
  - deploy_prom
  - logs

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: ""
  DOCKER_HOST: unix:///var/run/docker.sock
  WORK_TAG: ""

lint:
  image: python:3.12
  stage: test
  rules:
    - if: '$CI_COMMIT_BRANCH == "main"'
      when: on_success
    - if: '$CI_COMMIT_BRANCH != "main"'
      when: manual
  script:
    - pip install --no-cache-dir pylint  -r requirements.txt
    - files=$(find . -name "*.py")
    - pylint $files
  tags:
    - docker
  allow_failure: true


build:
  image: docker:20.10.16
  stage: build
  rules:
    - if: '$CI_COMMIT_BRANCH == "develop" || $CI_COMMIT_BRANCH == "main" || $CI_COMMIT_BRANCH == "clean" || $CI_COMMIT_BRANCH == "dev"'
      changes:
        paths:
          - app/**/*
      when: on_success

    - when: manual

  services:
    - name: docker:20.10.16
      alias: docker
      command: ["--insecure-registry=$REGISTRY"]
  before_script:
    - docker info
    - echo "$REGISTRY_TOKEN" | docker login --username "$REGISTRY_USER_LOGIN" --password-stdin
    - apk add --no-cache curl bash jq
    - VERSION=$(jq -r '.current_version' version.json)
    - export WORK_TAG="$VERSION-$(date +%Y%m%d-%H_%M)"
  script:
    - |
      docker build \
        --tag $REGISTRY/$REGISTRY_PROJECT_NAME:latest \
        --tag $REGISTRY/$REGISTRY_PROJECT_NAME:$WORK_TAG \
        .
    - docker push $REGISTRY/$REGISTRY_PROJECT_NAME:latest
    - docker push $REGISTRY/$REGISTRY_PROJECT_NAME:$WORK_TAG
    - curl --header "PRIVATE-TOKEN:$PAT" --data "tag_name=$WORK_TAG" --data "ref=$CI_COMMIT_SHA" "$CI_SERVER_URL/api/v4/projects/$CI_PROJECT_ID/repository/tags"


  tags:
    - docker
  when: manual


deploy_ift:
  image: ubuntu:22.04
  stage: deploy_ift
  needs: ["build"]
  when: on_success
  before_script:
  # Устанавливаем необходимые пакеты
    - apt-get update && apt-get install -y openssh-client sudo

    # Создаём директорию .ssh и задаём права
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh

    # Записываем приватный ключ
    - echo "$SSH_PRIVATE_KEY" >  ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519

    # Добавляем хост в known_hosts
    - ssh-keyscan -t ed25519 $SSH_HOST >> ~/.ssh/known_hosts
  script:
    - ssh $SSH_USER@$SSH_HOST "echo $REGISTRY_TOKEN | sudo docker login --username $REGISTRY_USER_LOGIN --password-stdin  && cd $WORK_DIR &&  sudo docker compose pull && sudo docker compose up  --force-recreate -d && exit"
  tags:
    - docker


shutdown_ift:
  image: ubuntu:22.04
  stage: deploy_ift
  when: manual
  before_script:
    - apt-get update && apt-get install -y openssh-client sudo

    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh

    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed2219

    - ssh-keyscan -t ed25519 $SSH_HOST >> ~/.ssh/known_hosts
  script:
    - ssh $SSH_USER@$SSH_HOST "cd $WORK_DIR &&  sudo docker compose down  && exit"
  tags:
    - docker

logs_ift:
  image: ubuntu:22.04
  stage: logs
  needs: ["deploy_ift"]
  when: manual
  before_script:
    - apt-get update && apt-get install -y openssh-client sudo

    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh

    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519

    - ssh-keyscan -t ed25519 $SSH_HOST >> ~/.ssh/known_hosts
  script:
    - ssh $SSH_USER@$SSH_HOST "sudo docker logs -f $CONTAINER_NAME"
  tags:
    - docker

logs_prom:
  image: ubuntu:22.04
  stage: logs
  needs: ["deploy_ift"]
  when: manual
  before_script:
    - apt-get update && apt-get install -y openssh-client sudo

    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh

    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_ed25519
    - chmod 600 ~/.ssh/id_ed25519

    - ssh-keyscan -t ed25519 $SSH_HOST >> ~/.ssh/known_hosts
  script:
    - ssh $SSH_USER@$SSH_HOST "sudo docker logs -f $CONTAINER_NAME_PROM"
  tags:
    - docker
